html {
  background-color: goldenrod;
  padding: 40px;
}

body {
  background-color: grey;
  width: 600px;
  height: 700px;
  margin: auto;
  border-radius: 25px;
  text-align: center;
  padding: 25px;
}

canvas {
  border: 2px solid black;
  margin: auto;
  background-color: white;
}

.center {
  text-align: auto;
}

h1 {
  background-color: darkgoldenrod;
  border: black solid 2px;
  border-radius: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  background-color: goldenrod;
  border-radius: 5px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.upgrade {
  width: 200px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
}

.upgrade:hover {
  cursor: pointer;
}

button:hover {
  background-color: darkgoldenrod;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#btn {
  background-color: white;
}

#grandma-upgrade {
  width: 200px;
  height: 70px;
}

#grandma-upgrade:hover {
  cursor: pointer;
}

#cursor-upgrade {
  width: 200px;
  height: 70px;
}

#cursor-upgrade {
  cursor: pointer;
}

#btn {
  background: url("img/notCrushedCookie.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  background-color: white;
}

#btn:hover {
  cursor: pointer;
}

#name-input {
  background: rgba(225, 225, 225, 0.1);
  color: black;
  border: none;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  text-align: center;
  font-size: 25px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#name-input:hover {
  color: #fdec6e;
  text-shadow: 0px 0px 10px #fdec6e;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
