html {
  background-color: goldenrod;
  padding: 40px;
}

body {
  background-color: grey;
  width: 600px;
  height: 700px;
  margin: auto;
  border-radius: 25px;
  text-align: center;
  padding: 25px;
}

canvas {
  border: 2px solid black;
  margin: auto;
  background-color: white;
}

.center {
  text-align: auto;
}
